
@import "../assets/styles/mainContent.scss";
@import "../assets/styles/responsive.scss";
@import "../assets/styles/rightSide.scss";
@import "../assets/styles/sidebar.scss";
@import "../assets/styles/variables.scss";

:host {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
